{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% includeJsResource "gtpoll/js/gtPoll.js" %}

{% set title = craft.gtPoll.getPluginName|t %}

{% set tabs = {
    active: { label: "List Polls"|t, url: url('gtpoll') },
    manage: { label: "Manage Polls"|t, url: url('gtpoll/edit') },
    settings: { label: "Settings"|t, url: url('settings/plugins/gtpoll') }
} %}

{% set selectedTab = 'manage' %}

{% set content %}

<form method="post" accept-charset="UTF-8" action="">
    <input type="hidden" name="action" value="gtPoll/poll/savePoll">
    {{ getCsrfInput() }}
    
    {% if pollId is defined %}

        {% set poll = craft.gtPoll.getPoll(pollId) %}
        {% set answers = craft.gtPoll.getAnswers(pollId) %}

        <input type="hidden" name="pollId" value="{{ pollId }}">

        <h2>Edit Poll #{{ pollId }}</h2>

    {% else %}

        {% set pollId = 'new' %}

        <h2>New Poll</h2>

    {% endif %}

    {{ forms.textField({
        label: "Question Text"|t,
        id: 'question-' ~ pollId,
        name: 'questionText',
        value: poll.questionText|default('')
    }) }}

    {{ forms.lightswitchField({
        label: "Active"|t,
        id: 'active-' ~ pollId,
        name: 'active',
        on: poll.active|default(true)
    }) }}

    <h3>Answers</h3>

    {% set rows = [] %}

    {% if answers is defined and answers|length %}        

        {% for answer in answers %}

            {# row keys need to be a string or PHP will reset them from 0 #}
            {% set rows = rows|merge({
                ('answer_' ~ answer.id) : [answer.answerText]
            }) %}

        {% endfor %}

    {% endif %}
            
    {{ forms.editableTable({
        label: "Answers"|t,
        id: 'answers-' ~ pollId,
        name: 'answers',
        cols: [{
            heading: 'Answer Text',
            type: 'singleline',
        }],
        rows: rows
    }) }}    

    <br /><input type="submit" class="btn submit" value="{{ 'Save Poll'|t }}">

</form>

{% endset %}